# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# virtualenv
.venv*
venv*
ENV/

# PyCharm
.idea/
*.iml

# Visual Studio Code
.vscode/

# OSX
.DS_Store

# python version manager
.pyenv
.tool-versions
